/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Default widget css */
.shoophilters-loading-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 99999;
	justify-content: center;
	align-items: center;
	background: rgb(255 255 255 / 50%);
	pointer-events: all;
}

.shoophilters-loading-image {
	display: block;
	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 99999;
	width: 125px;
	pointer-events: none;
}

ul.shoophilters-grid {
	list-style: none;
	margin: 0;
}

ul.shoophilters-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Custom radion button */
.shoophilters-item-radio-label {
	position: relative;
	display: flex;
}

.shoophilters-item-radio-label .shoophilters-radio-filter[type="radio"] {
	position: static;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #50575e;
	border-radius: 0.75em;
	box-sizing: border-box;
	font-size: 1em;
	height: 1.5em;
	margin: 0 1em 0 0;
	min-height: 1.5em;
	min-width: 1.5em;
	overflow: hidden;
	position: static;
	vertical-align: middle;
	width: 1.5em;
	box-sizing: border-box;
	cursor: pointer;
}

.shoophilters-item-radio-label
	.shoophilters-radio-filter[type="radio"]:not(:checked)
	+ .shoophilters-radio-filter-mark {
	display: none;
}

.shoophilters-item-radio-label
	.shoophilters-radio-filter[type="radio"]
	+ .shoophilters-radio-filter-mark {
	display: block;
	height: 1em;
	width: 1em;
	background-color: #50575e;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 0.25em;
	top: 0.25em;
}

/* Buttons */
.shoophilters-filter-remove-button {
	cursor: pointer;
}

/* Category list */
ul.shoophilters-category-list
	li.shoophilters-category-item
	.shoophilters-category-count {
	display: block;
	flex: 1 1 0;
	text-align: right;
}
ul.shoophilters-category-list
	li.shoophilters-category-item
	.shoophilters-category-count.shoophilters-category-count-current {
	display: none;
}
ul.shoophilters-category-list
	li.shoophilters-category-item.current
	.shoophilters-category-count.shoophilters-category-count-current {
	display: initial;
}
li.shoophilters-category-item.current {
	font-weight: 600;
}
li.shoophilters-category-item a {
	color: inherit;
}
ul.shoophilters-category-list {
	list-style: none;
	margin: 0;
}

/* Attribute list */

ul.shoophilters-attributes-list
	li.shoophilters-attribute-item
	.shoophilters-attribute-count {
	float: right;
}
ul.shoophilters-attributes-list
	li.shoophilters-attribute-item
	.shoophilters-attribute-count.shoophilters-attribute-count-current {
	display: none;
}
ul.shoophilters-attributes-list
	li.shoophilters-attribute-item.current
	.shoophilters-attribute-count.shoophilters-attribute-count-current {
	display: initial;
}
li.shoophilters-attribute-item.current {
	font-weight: 600;
}
li.shoophilters-attribute-item .wc-block-components-checkbox {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

li.shoophilters-attribute-item .wc-block-components-checkbox > * {
	pointer-events: none;
}
li.shoophilters-attribute-item
	.wc-block-components-checkbox
	input[type="checkbox"],
li.shoophilters-attribute-item
	.wc-block-components-checkbox
	input[type="checkbox"]:checked {
	background-color: transparent;
}

ul.shoophilters-attributes-list {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
}
ul.shoophilters-attributes-list.shoophilters-grid {
	flex-direction: row;
	flex-wrap: wrap;
}

ul.shoophilters-attributes-list.shoophilters-grid
	li.shoophilters-attribute-item {
	width: 100%;
	margin-right: 0;
}

/* Order */
ul.shoophilters-orderby {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
}

li.shoophilters-orderby-item:not(.current) .shoophilters-orderby-name {
	cursor: pointer;
}

li.shoophilters-orderby-item.current {
	font-weight: 600;
}

.shoophilters-orderby select.shoophilters-orderby-select {
	width: 100%;
	background-color: transparent;
	border: transparent;
	border-radius: 0;
}

/* Overwrite jqueryui slider */
span.ui-slider-handle {
	display: none;
}

.ui-widget.ui-widget-content {
	height: 3em;
	border: none;
	background: #aaa;
}

.ui-slider-horizontal .ui-slider-range {
	background: #333;
	opacity: 0.5;
}

.shoophilters-slider-range-label {
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	position: absolute;
}
